<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        executionOrder="depends,defects"
>
    <testsuites>
        <testsuite name="coral-media/php-ir Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>